.architectContainer {
  text-align: center;
}

.architectContainer .architectName {
  margin: 10px;
}

.architectContainer .architectBio,
.architectContainer .architectMap,
.architectContainer .architectGallery {
  color: #3ac14c;
}

.architectContainer .architectYears {
  margin-bottom: 15px;
}

.architectContainer .architectImage {
  height: 300px;
}

.architectContainer .architectDescription {
  margin-bottom: 30px;
}

.architectContainer .architectMap {
  margin-bottom: 50px;
}

.architectContainer .architectGallery {
  margin: 50px;
}